#local secrets
/src/config/.env.development
/src/config/.env.production

#local build
node_modules
yarn-error.log

/dist

apply-gitignore = !git ls-files -ci --exclude-standard -z | xargs -0 git rm --cached